<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="WebServiceSoap" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58517/WebService.asmx" binding="basicHttpBinding"
          bindingConfiguration="WebServiceSoap" contract="MyService.WebServiceSoap"
          name="WebServiceSoap1" />
      <endpoint address="https://localhost:44364/Something.asmx" binding="basicHttpsBinding"
                bindingConfiguration="WebServiceSoap" contract="MyService.WebServiceSoap"
                name="WebServiceSoap" />

    </client>
  </system.serviceModel>
</configuration>